<!DOCTYPE HTML>
<html>
<head>
	<title>Boggle Solver</title>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<!-- Latest compiled JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

	<script>
	/**
	* Create empty grid of selected size
	*/
	function createTable()
	{
		$('#table').empty(); //Remove previous cells

		var size = $('#sizeSelect option:selected')[0].value;
		if(size == undefined) size = 4; //Default size
		for(var i = 0; i < size; i++)
		{
			$('#table').append(`<row id=tr${i}></row><br>`); //Add rows
			for(var j = 0; j < size; j++)
			{
				//Add columns
				$(`#tr${i}`).append(`<td class="span1" id=tr${i}td${j}>
														 <input type="text" size="1" maxlength="1" class="form-control" id="text${i}-${j}">
														 </td>`);
			}
		}
	}

	/**
	* Get board contents and return it as a single string.
	* Columns are separated by a dash (-) and rows by a pipe (|)
	*/
	function getBoardAsString()
	{
		var board = "";

		$('#table').children().each(function() {
	    $(this).children().each(function() {
				board += $(this).find('input').val() + "-"; //Get value of each cell
			});
			board = board.replace(/.$/,"|"); //Remove trailing character
		});
		board = board.replace(/.$/,""); //Remove trailing character
		return board;
	}

	/**
	* Sends an AJAX request to the python script
	* in order to calculate the possible words.
	* Writes the words to the webpage.
	*/
	function solveBoard()
	{
		data = JSON.stringify({'board': getBoardAsString()})
		$.ajax({
        type: "POST",
        url: "/boggleSolver.py",
        data: data,
        success: function(response) {
					for (var i = 1; i < 7; i++) $(`#results${i}`).empty();
					var words = response.split("-")[0].split(",").sort()

					var time = response.split("-")[1]
					var wordCount = words.length

					var totalScore = 0
					var j = 1;
					for(var i in words)
					{
						info = words[i].split(":")
						word = info[0]
						score = info[1]
						totalScore += parseInt(score)
						$(`#results${j}`).append(`<p class="btn btn-default btn-block"
								data-toggle="tooltip" title="${score} points">${word}</p><br>`);

						if(j < 6) j++;
						else j = 1;
					}

					$("#message").html(`<p>Found <b>${wordCount}</b> words in <b>${time}</b> seconds for a total of <b>${totalScore}</b> points.</p>`)

					$('[data-toggle="tooltip"]').tooltip(); //Enable tooltips
				},
				error: function(err) {
					console.log(err);
				}
    });
	}

	/**
	* Randomly fill the existing grid with letters.
	*/
	function randomFill()
	{
		var ALPHABET = 'abcdefghijklmnopqrstuvwxyz';

		$('#table').children().each(function() {
	    $(this).children().each(function() {
				$(this).find('input').val(ALPHABET[Math.floor(Math.random() * ALPHABET.length)]);
			});
		});
	}
	</script>
	<style>
		body {
			padding: 50px;
		}

		.row {
			padding-bottom: 20px;
			background-color: #eee;
		}

		input .form-control {
			max-width: 20px;
		}
	</style>
</head>
<body onload="createTable()">
	<div class="row">
		<div class="col-md-12">
			<div class="col-md-2">
				<select class="form-control" id="sizeSelect">
					<option value='' disabled selected style='display:none;'>Board size:</option>")
					<option value="3">3x3</option>
					<option value="4">4x4</option>
					<option value="5">5x5</option>
					<option value="6">6x6</option>
					<option value="7">7x7</option>
					<option value="8">8x8</option>
				</select>
			</div>
			<div class="col-md-4">
				<button type="button" class="btn btn-primary" onclick="createTable()">Update Board Size</button>
				<button type="button" class="btn btn-primary" onclick="randomFill()">Random Fill</button>
				<button type="button" class="btn btn-success" onclick="solveBoard()">Solve</button>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-4" id="tablecol">
			<div class="row" id="table"></div>
			<div class="row" id="message"></div>
		</div>
		<div class="col-md-8" id="results">
			<div class="col-sm-2" id="results1"></div>
			<div class="col-sm-2" id="results2"></div>
			<div class="col-sm-2" id="results3"></div>
			<div class="col-sm-2" id="results4"></div>
			<div class="col-sm-2" id="results5"></div>
			<div class="col-sm-2" id="results6"></div>
		</div>
	</div>
</body>
</html>
